.home-wrapper {

}

.home-wrapper .field-form {
    padding: 10px 0;
}

.error {
    color: red;
}

.card-wrapper {
    box-shadow: 5px 10px #888888;
    padding: 5px;
    margin: 10px;
}

.card-wrapper .card {
    padding: 10px 5px;
}